.experiencesPage {
  padding: 20px 20px;

  .title {
    display: none;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.experience {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px;
  max-width: 1024px;

  .title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    margin-bottom: 12px;

    .company {}

    .role {
      margin-bottom: 10px;
    }

    .date {

    }
  }

  .description {
    margin-bottom: 12px;
  }

  .tags {}

}

@media (max-width: 1024px) {
  .experiencesPage {
    .title {
      display: block;
      text-align: center;
      margin-bottom: 28px;
    }
  }

}