.projectsPage {
  width: min(1180px, calc(100% - 32px));
  margin: 0 auto;
  padding: 5rem 0 4rem;

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
}
