:root {
  --background: linear-gradient(58deg, rgba(12,22,39,1) 25%, rgba(45,33,38,1) 65%, rgba(70,41,38,1) 85%, rgba(104,52,37,1) 100%, rgba(136,63,37,1) 110%, rgba(172,75,36,1) 100%, rgba(234,96,35,1) 100%);
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(58deg, rgba(12,22,39,1) 25%, rgba(45,33,38,1) 65%, rgba(70,41,38,1) 85%, rgba(104,52,37,1) 100%, rgba(136,63,37,1) 110%, rgba(172,75,36,1) 100%, rgba(234,96,35,1) 100%);
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
